html,body{
    background-color: #292c2e;
    color: #ffffff;
    min-height: 100%;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
}
td,h3{color:white;}
.page-content .boxed{
    width: 100%;
}
tr th{border-top:solid 1px red;}
.page-content{
    width: 100%;
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.bg-black{
    background: black;
}
/* Font */
@font-face {
    font-family: 'Helvetica';
    src: url('../font/Helvetica.ttf') format("truetype"); 
}
@font-face {
    font-family: 'NotoSansThaiUI-Regular';
    src: url('../font/NotoSansThaiUI-Regular.ttf') format("truetype"); 
}
.line-h-30{
    line-height: 30px;
}

/* navbar */
.navbar{
    background-color: black;
    border-top: 10px solid red;
    width: 100%;
    height: 156px;
    padding: 0px;
    z-index: 2048;
}
.nav-image{
    width: 100%;
}
.right{
    text-align: right;
    height: 142px;
    padding: 0px;
    padding-right: 10px;
}
.left{
    height: 142px;
    padding: 0px;
}
.nav-image{
    width: 104px;
    margin-top: 13px;
    margin-left: 40px;
}
.nav-menuimage{
    height: 100%;
    width: auto;
}
.nav-menutop ul{
    list-style: none;
    display: block;
    margin-right: 40px;
}
.nav-menutop li{
    display: inline-block;
    padding: 12px;
    margin-right: -4px;
    height: 64px;
    box-shadow: inset 0px 6px 12px 0px rgba(0, 0, 0, 0.4);
}
.nav-menutop li:hover{
    background-color: red;
}
.nav-menutop .blue:hover{
    background-color: #3b5b99;
}
.nav-menubottom ul{
    list-style: none;
    margin-top: 0px;
    margin-right: 40px;
    padding: 0px;
}
.nav-menubottom li{
    margin-right: -4px;
    line-height: 45px;
    margin-top: 5px;
}
.menu{display: inline-block;}
.nav-menubottom li a{
    display: block;
    text-decoration: none;
    font-family: 'Helvetica';
    color: #fff;
    font-size: 20px;
}
.nav-menubottom a{
    padding-right: 15px;
    padding-left: 15px;
}
.menu .a-menu:hover{
    color: red;
    background-color: #1a1a1a;
}
.nav-menubottom li:hover ul{
    display: block;
}
#search{
    margin-top: -4px;
    height: 20px;
    width: 20px;
}
.nav-menubottom li ul{
    padding-top: 0px;
    position: absolute;
    background-color: #181818;
    width: 142px;
    text-align: left;
    display: none;
}
.submenu a{
    line-height: 40px;
    margin-top: -4px;
}
.menu li a{
    margin-top: 0px;
    margin-right: 5px;
    font-size: 13px;
}
.menu li a:hover{
    color: red;
}

/* Menu Footer */
.footer-menu{
    background-image: url('../img/structure/footerbar/bg-icon.png');
    background-size: cover;
    background-position: top center;
    display: flex;
}
.footer-menu .box-icon{
    float:left;
    width: 100%;
    padding: 0;
}
.footer-menu ul{
    list-style-type: none;
    padding-left: 0;
}
.list-itm-icon{
    padding-left: 15px;
    height: 156px;
}
.list-itm-title{
    background-color: #141414;
    padding: 8px 0;
}

.footer-menu .box-icon a:hover .list-itm-icon .img-icon{
    opacity: 0;
}
.list-itm-icon .img-icon{
    position: absolute;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.footer-menu .box-icon a:hover .list-itm-icon .img-icon-active{
    opacity: 1;
}
.list-itm-icon .img-icon-active{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
}
.footer-menu .box-icon a:hover .list-itm-title .img-icon-title {
    opacity: 0;
}
.list-itm-title .img-icon-title {
    position: absolute;
    opacity: 1;
    bottom: 12px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.footer-menu .box-icon a:hover .list-itm-title .img-icon-title-active{
    opacity: 1;
}
.list-itm-title .img-icon-title-active {
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
@media screen and (min-width:1365px){
    .footer-menu .icon-col{
        -ms-flex: 0 0 14.28%;
        flex: 0 0 14.28%;
        max-width: 14.28%;
    }
}

/* Footer */
footer{
    background-color: #000000;
    color: #ffffff;
    padding: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
footer ul{
    list-style-type: none;
    padding-left: 0;
}
.ft-list a:hover{
    color: #ff0000;
    text-decoration: none;
}

.footer-menu .icon-col{
    text-align:center;
    padding:0;
    border-top: 4px solid #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.footer-menu .icon-col:hover{
    border-top: 4px solid #ff0000;
}
.text-red{
    color: red;
}

.ft-link{
    color: white;
}
.ft-brand-logo{
    float: right;
}

#wrapper{
    width: 100%;
    min-height: calc(100vh - 400px);
}
#wrapper h3{
    font-weight: bolder;
    font-family: Helvetica,'NotoSansThaiUI-Regular';
}
.page-content p{
    color:white;
    font-family: Helvetica,'NotoSansThaiUI-Regular';
    font-weight: lighter;
    text-decoration: none;
}
#wrapper li{
    font-size: 20px;
    font-family: 'Helvetica';
    color: white;
    list-style: none;
}
#wrapper img{
    max-width: 100%;
}

/* Card box */

.card-box{
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    margin: 20px 0;
    border-top: 7px solid #191919;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.card-box:hover,.card-box:active,.card-box:focus{
    border-top: 7px solid #ff0000;
}
.card-box:hover .card-image{
    opacity: 0.8;
}
.card-image{
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.card-image .ribbon-new{
    position: absolute;
    top: 10px;
    left: 0;
    color: #000000;
    background-color: #f9f9f9;
    padding: 0 6px;
    font-size: 26px;
}
.card-title{
    height: auto;
    width: 70%;
}
.card-content{
    background-color: #191919;
    padding: 15px;
}
.card-content .card-bottom{
    display: inline-table;
    width: 100%;
}

.card-bottom a:hover img{
    border-radius: 10%;
    box-shadow: 0px 3px 10px 0px #ff0000;
}

.card-bottom a.btn-download-wallpaper:hover img{
    border-radius: 0;
    box-shadow: 0px 3px 10px 0px rgba(255, 0, 0, 0.5);
}
.card-bottom a.btn-download-wallpaper img{
    width: 32.3%;
}

/* Product */
#card-product .card-content .card-top{
    text-align: right;
    margin-bottom: 30px;
    min-height: 44px;
}
#card-product .card-bottom img{
    height: 100%;
    width: auto;
}
.product-detail-content .nav-pills .nav-link {
    border-radius: 0rem;
    text-transform: uppercase;
    background-color: #000000;
    padding: 15px 15px;
    font-size: 24px;
    border-top: 5px solid #ff0000;
    border-bottom: 3px solid #292c2e;
    color: #292c2e;
}
.product-detail-content .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #000000;
    color: #ff0000;
    border-bottom: 3px solid #ff0000;
}

.product-detail-description{
    padding: 20px 15px;
    line-height: 34px;
    font-size: 18px;
}
.product-detail-description ul {
    list-style: none;
    line-height:2rem;
}

.product-detail-description ul li::before {
    content: "";
    background-color: #ff0000;
    font-weight: bold;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: -1.5rem;
    margin-right: 1.5rem;
}

.product-detail-content .details-dwnl{
    padding: 30px;
}
.details-dwnl a{
    width: 215px;
    height: auto;
    display: inline-block;
    margin: 0 15px;
}
.product-detail-content .tab-content{
    background-color: #000000;
}

.product-detail-spec{
    padding: 30px 30px;
    line-height: 34px;
    font-size: 18px;
}
.product-detail-spec .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: none;
    border-bottom: 2px solid #292C2F;
}
.product-detail-spec .table th {
    border-top: 0px;
    color: #ff0000;
}

.title-text{
    font-weight: 600;
    font-size: 18px;
}
#smw {
    display: block;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
#smw h2 span {
    padding-left: 10px;
}
#smw h2 span{
    color: #0e1431;
}
#smw h2 {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 20px;
    margin-bottom: 4px;
    width: 65px;
    height:24px;
    color: #0e1431;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    clear: both;
    z-index: 99;
}
#smw h2:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: -14px;
    width: 0;
    height: 0;
    border-bottom: 24px solid #ffffff;
    border-right: 10px solid transparent;
    padding-right: 10px;
}
/* slide */

.mySlides {
    display: none;
    margin-left: 17%;
    margin-right: 17%;
}
img {vertical-align: middle;}
.bord{border: black solid 1px;}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px; 
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
  /* The dots/bullets/indicators */

.carous{
    margin-top: 20px;
    width: 100%;
    overflow-x: scroll;
    position:relative;
    padding-bottom:10px;
}
.incarous{width: 120%;}
.margi{margin-right:1.5%;}
.dot {
    border: 2px solid black;
    cursor: pointer;
    height: auto;
    width: 15vmin;
    padding:8px 15px;
    display: inline-flex;
    transition: 0.6s ease;
}

.incarous .active {
  border:2px solid red;
}

/* Fading animation */
.fadein {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.carous::-webkit-scrollbar{
    display:block;
    height:8px;
}
.carous::-webkit-scrollbar-thumb{
    background: #ff0000;
}

.product-detail-logo img{width: 65%;}